.welcomePage {
    display: flex;
    height: 100vh;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.welcomePage h2 {
    text-align: center;
    color: #eee;
}

.welcomePage a {
    color: #eee;
    background-color: #0f6824;
    width: 70%;
    text-align: center;
    border-radius: 5px;
    padding-block: 10px;
    text-decoration: none;
    
}

.welcomePage a:hover {
    background-color:#09b7319c ;
}