chromadb
datasets
fastapi
google-genai>=0.7.0
groq>=0.11.0
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
mistralai
nomic
numpy
openai
pandas
pydantic
python-dotenv
redis
requests
sentence-transformers
uvicorn[standard]