datasets
pandas
langchain
langchain-huggingface # New
mistralai # NEW
openai # New
redis # NEW
langchain-community
sentence-transformers 
chromadb
google-genai>=0.7.0
groq>=0.11.0
python-dotenv
fastapi
uvicorn[standard]
requests